*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
ul, ol{
    list-style: none;
}

div{

    height: 100%;
}

.Kayit{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    flex-direction: column;
}

.kayit-ol{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #f2ebeb;
    width: 404px;
    border-radius: 19px;
    margin-top: 16px;
}

.kayit-ol-gizle{
    display: none;
}

.check{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: #3F3E68;
    column-gap: 6px;
    padding-top: 40px;
}

.sign{
    font-size: 40px;
    color: #3F3E68;
}

.sign-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font: 1px bold;
    row-gap: 33px;
    position: relative;
    top: 9px;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: 35px;
}

.btn-1{
    color: white;
    background: #3F3E68;
    width: 290px;
    padding: 18px;
    border: solid 1px;
    border-radius: 5px;
    margin-bottom: 153px;
    cursor: pointer;
}

.text{
    padding: 16px;
    border: 2px solid #A7A6C3;
    border-radius: 5px;
    width: 290px;
}

.link{
    position: absolute;
    width: 122px;
    height: 24px;
    left: 628px;
    top: 515px;

}

.input-container{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.yazilar{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #3F3E68;

}

.ana-sign {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#kutu{
    width: 25px;
    height: 20px;
    cursor: pointer;

}

.btn-1:hover{
    background: #525070;
}

.butonlar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    column-gap: 36px;
    position: relative;
    top: 270px;
}

.giris-btn{
    width: 85px;
    height: 37px;
    border: none;
    border-radius: 6px;
    background: #eaeaee;
}

.kayit-btn{
    width: 85px;
    height: 37px;
    border: none;
    border-radius: 6px;
    color: #FFFFFF;
    background: #5e5b86;

}

.kayit-btn:hover{
    cursor: pointer;
    background: #79769d;
}

.giris-btn:hover{
    cursor: pointer;
    background: #d7d7da;
}