*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
ul, ol{
    list-style: none;
}

.container,.bölüm-1{

    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    flex-direction: column;
}

.bölüm-1{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
    padding-bottom: 40px;
    margin-right: 138px;
    color: #292E5A;
    font-weight: bold;
    padding-top: 25px;
}

.no-1{
    font-size: 50px;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 22px;

}

.btn-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px;
    gap: 10px;
    width: 331px;
    height: 52px;
    background: linear-gradient(96.58deg, #5FF489 0%, #79F4F4 100%);
    border: transparent;
    border-radius: 8px;
    color: #292E5A;
    font-weight: bold;
    cursor: pointer;

}

.btn-1:hover{
    background: linear-gradient(96.58deg, #aff1bf 0%, #70ecec 100%);
}

.check{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    row-gap: 22px;
    padding-top: 25px;
    padding-bottom: 24px;
    font-weight: bold;
    color: #292E5A;

}

.span-1{
    display: flex;
    font-weight: bold;
    margin-right: 55px;
}

.span-2{
    font-weight: bold;
    color: #292E5A;
}

.container-2{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 19px;
    column-gap: 10px;
}

.search-text{
    width: 217px;
    height: 47px;
    padding-left:43px;
    border: solid #B3C7E3 1px;
    border-radius: 8px;
    font-weight: bold;
    color: #292E5A;
}

.search-btn {
    width: 92px;
    height: 48px;
    padding: 16px;
    background: #E9E8FF;
    border: solid 1px white;
    border-radius: 8px;
    color: #292E5A;
    font-weight: bold;
    cursor: pointer;
}

#search-ikon{
    position: absolute;
    width: 31px;
    margin-top: 6px;
    margin-right: 272px;;
    color: #292E5A;
    font-weight: bold;

}

#check-ikon{
    position: absolute;
    width: 27px;
    margin-bottom: 36px;
    margin-left: -60px;
    background: #E9E8FF;
    border-radius: 20px;
}

#check-ikon1 {
    position: absolute;
    width: 27px;
    margin-left: -60px;
    margin-top: 36px;
    background: #E9E8FF;
    border-radius: 20px;
}

.son-btn{
    width: 390px;
    height: 108px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.son-btn1{
    width: 327px;
    height: 52px;
    font-weight: bold;
    background: linear-gradient(96.58deg, #9CC4FF 0%, #B4A8FF 100%);
    border: transparent;
    border-radius: 8px;
    color: #292E5A;
    cursor: pointer;
}

.container-gizle{

}

.uyari-kutusu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 17px;
    background: linear-gradient(96.58deg, #7ec28e 0%, #578f8f 100%);
    width: 463px;
    height: 177px;
    margin-top: 191px;
    margin-left: 445px;
    border-radius: 10px;
}

.uyari-span{
    font-size: 18px;
    color: #ffffff;
}

.uyari-span-div{
    padding-top: 46px;
    padding-left: 109px;
}

.butonlar-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    column-gap: 22px;
    margin-top: 25px;
}

.yes-btn{
    width: 61px;
    height: 31px;
    background: #32cb32;
    border: transparent;
    border-radius: 6px;
    color: white;
    font-size: 16px;
}

.no-btn{
    width: 61px;
    height: 31px;
    background: #de1d1d;
    border: transparent;
    border-radius: 6px;
    color: white;
    font-size: 16px;

}

.yes-btn:hover{
    cursor: pointer;
    background: #58cc58;
}

.no-btn:hover{
    cursor: pointer;
    background: #da3737;
}

.uyari-kutusu-gizle{
    display: none;
}

.siparis-olustu-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    column-gap: 5px;
    margin-top: 223px;
    background: linear-gradient(96.58deg, #aff1bf 0%, #97d3d3 100%);
    width: 403px;
    height: 102px;
    border-radius: 8px;
    margin-left: 507px;
}

.siparis-olustu-gizle{
 display: none;
}

.siparis-span{
    font-size: 17px;
    color: #000000;
    position: relative;
    top: 33px;
    left: 66px;
}

.ikon{
    width: 30px;
    height: 30px;
    color: green;
    position: relative;
    left: 316px;
    top: 7px;

}

