*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, ol{
    list-style: none;
}

a{
    dipslay:inline-block;
    text-decoration: none;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    flex-direction: column;
}
.card{
    width: 444px;
    height: 444px;
    border-radius: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(255,214,255);
    background: linear-gradient(90deg, rgba(255,214,255,1) 8%, rgba(235,202,255,1) 23%, rgba(184,192,255,1) 100%);
}

svg{
    width: 30px;
}
.yazilar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 16px;
    padding-bottom: 38px;
    color: #604a60;
    padding-top: 17px;
}
.isim{
    font-family: 'Merriweather', serif;
}
.poz{
    font-family: 'Poppins', sans-serif;
}
.foto{
    max-width:191px;
    max-height: 191px;
    overflow: hidden;
    border: 10px solid gray;
    border-radius: 50%;
    height: 191px;
    width: 191px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.photo{
    object-fit: cover;
    width: 275px;
    height: auto;
    position: relative;
    top: 29px;
}
.kutular{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    column-gap: 32px;
    font-size: 12px;
}

.kutu{
    width: 102px;
    height: 69px;
    border: solid 1px #a5a5a5;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 7px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}


.kutu:hover svg{
    color: #470d4b;
}

.kutu:hover{
    background: #ac9eb1;
}

.kutu:hover{
    color: #470d4b;
}

